
div{
  height: 200px;
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  background-color: rgba(233, 241, 241, 0.25);
}
body{
  background-image: url(image/smart-home-gad94fd238_1920.jpg);
  background-position: center;
}
html{
  height: 100%;
 }
 .id{
  border: none;
  font-size: 17px;
  
 }
 button{
  padding: 2px 3px;
 }
 @media all and (max-width: 560px){
  div{
    width: 350px; ;
  }
 }
 @media all and (max-width: 360px){
  div{
    margin-top: 100px;
    width: 300px; ;
  }
  
 }